*{
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    background-image: linear-gradient(#e66465, #9198e5);
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 1;
}
.left-content {
    margin: 20px 0 0 80px;
    width: 300px;
    height: 80px;

    float: left;
}

.moon1 {
    background: url("../img/moon1.jpg");
    width: 80px;
    height: 80px;
    background-size: 100%;
    float: left;
    border-radius: 40px;

}

.moontext {
    line-height: 80px;
    text-align: center;
    font-weight: 300;
    font-size: 35px;
    color: black;

}

.left-content a {
    text-decoration: none;

}


.righttext {
    float: right;
    height: 100px;
    width: 300px;
    line-height: 100px;
    padding: 10px 60px 0 0;

    font-weight: 300;
    font-size: 30px;
    color: black;
}
.righttext a{
    text-decoration: none;
    color: black;
}
.wrap{
    position: fixed;
    left:0;
    top:0;
    bottom: 0;
    right: 0;
    margin: auto;
    width:800px;
    height:500px;
    /* background: radial-gradient(#f3fbfe, #e4f5fd, #8fd5f4); */
    /* background:#8fd5f4; */
    /* background: linear-gradient(#6bc6ee, #fff); */
    background:#fff;
    border-radius: 30px 30px 0 0;
    background-image: -webkit-linear-gradient(top, rgb(13, 104, 188), rgb(114, 173, 224));
}
.search_form{
    width:640px;
  
    margin: 42px auto 0;
}
.logo img{
    display:block;
    margin:0 auto;
}
.form_group{
    width:640px;
    height:40px;
    margin-top:45px;
}
.input_txt{
   width:538px;
   height:38px;
   padding:0px;
   float:left;
   border:1px solid #41a1cb;
   outline:none;
   text-indent:10px;
}

.input_sub{
    width:100px;
    height:40px;
    border:0px;
    float: left;
    background-color: #41a1cb;
    color:#fff;
    font-size:16px;
    outline:none;
    cursor: pointer;
    position: relative;
}
.input_sub.loading::before{
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('../img/loading.gif');
}

.hotkey{
    margin:3px 0 0 2px;
}

.hotkey a{
    font-size:14px;
    color:#666;
    padding-right:15px;
}
.weather_list{
    height: 187px;
    text-align:center;
    margin-top: 28px;
    font-size:0px;
    border-radius: 0 0 32px 32px;
    

}
.weather_list li{
    display:inline-block;
    width:138px;
    height:  190px;;
    padding:0 10px;
    overflow: hidden;
    position: relative;
    background:url('../img/xian.png') right center no-repeat;
    background-size: 1px 130px;
    border: 1px solid transparent;
    border-radius: 10px;
}

.weather_list a li:hover{
    border: 1px solid white;
transition: 1s;
opacity: 0.8;
}

.weather_list li:last-child{
    background:none;
}

/* .weather_list .col02{
    background-color: rgba(65, 165, 158, 0.8);
}
.weather_list .col03{
    background-color: rgba(94, 194, 237, 0.8);
}
.weather_list .col04{
    background-color: rgba(69, 137, 176, 0.8);
}
.weather_list .col05{
    background-color: rgba(118, 113, 223, 0.8);
} */


.info_date{
    width:100%;
    height:40px;
    line-height:40px;
    color:white;
    font-size:14px;
    left:0px;    
    bottom:0px;    
    margin-top: 15px;
}
.info_date b{
    float: left;
    margin-left:15px;
}

.info_type span{
    color:white;
    font-size:30px;
    line-height:80px;
}
.info_temp{
    font-size:14px;  
    color:white;
}
.info_temp b{
    font-size:13px;
}
.tem .iconfont {
    font-size: 50px;
  }
  body,ul,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6{
    font-size:100%;
    font-weight:normal;
}
a{
    text-decoration:none;
}
ul{
    list-style:none;
}
img{
    border:0px;
}

/* 清除浮动，解决margin-top塌陷 */
.clearfix:before,.clearfix:after{
    content:'';
    display:table;    
}
.clearfix:after{
    clear:both;
}
.clearfix{
    zoom:1;
}

.fl{
    float:left;
}
.fr{
    float:right;
}
.img{
    width: 80px;
    height: 80px;
    background-size: 100%;
  
    border-radius: 40px;
    display: inline-block;
}

.cebianlan{
    width: 120px;
    height: 330px;
    position: fixed;
    top: 200px;
    background :rgba(255,255,255,0.2);
    left:-120px ;
    transition: ease-in-out 1s;
    z-index: 999;
    float: left;
    border-radius: 0 5px 5px 0 ;
}
.cebianlan img{
    margin:50px 0 0 8px;
    width:45px;
    height:45px
}
.cebianlan_text{
    width: 40px;
    height: 130px;
    background :rgba(255,255,255,0.5);
    position: absolute;
    left: 120px;
    top:50%;
    transform: translateY(-65px);
    font-size: 23px;
    text-align: center;
    border-radius: 0 5px 5px 0;
    line-height:40px;
}
