<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入外部的css样式 -->
    <link rel="stylesheet" href="css/note.css">
    <!-- 引入外部layui的css样式 -->
    <link rel="stylesheet" href="layui/css/layui.css">
    <!-- 引入外部layui的js -->
    <script src="layui/layui.js"></script>
    <!-- 引入jquery -->
    <script src="http://lib.sinaapp.com/js/jquery/1.7.2/jquery.min.js"></script>
    <!-- 引入axios -->
    <script src="https://cdn.staticfile.org/axios/0.26.0/axios.min.js">	</script>

    <title>便签</title>
</head>

<body>
    <div class="background">
        <!-- 这是侧边栏模块 -->
        <div class="cebianlan" ref="cebianlan">
            <a href="tel.html"><img src="img/tel.png"></a>
            <a href=" picture.html"><img src="img/img.png"></a>
            <a href="file.html"><img src="img/文件夹.png"></a>
            <a href="music.html"><img src="img/音乐.png"></a>
            <a href="note.html"><img src="img/记事本.png"></a>
            <a href="weather.html"><img src="img/天气.png"></a>
            <a href="#" @click="cebianlan">
                <div class="cebianlan_text">导航栏</div>
            </a>
        </div>

        <div class="left-content">
            <div class="moon1"></div>
            <a href="Navigation.html">
                <div class="moontext">皓月云存储</div>
            </a>
        </div>
        <div class="right-content">
            <a href="#">
                <div class="righttext">欢迎您 | <a href="Navigation.html">{{name}}</a></div>
            </a>
        </div>


        <!-- 中心内容 -->
        <div class="box layui-anim layui-anim-downbit">
            <div class="title">
                <div class="allcheck">
                    <input type="checkbox" style="width: 20px; height: 20px;" ref="allcheckchild" @click="checkall">
                    &nbsp;全选
                </div>


                <div class="titletext">便&nbsp;&nbsp;&nbsp;签</div>
                <!-- 两个业务按钮 -->
                <div class="button">
                    <!-- 添加按钮 -->
                    <i class="layui-btn layui-btn-normal" style="width: 100px;font-style:normal;font-size: 20px;"
                        @click="insert">添&nbsp;加
                    </i>

                    <!-- 删除框 -->
                    <i class="layui-btn layui-btn-danger" style="width: 100px;font-style:normal;font-size: 20px;"
                        @click="deletecheck">删&nbsp;除
                    </i>
                </div>
            </div>
            <!--  v-for="(item,index) in notearray"     :id="['check'+index]" -->
            <!-- 标题下面的内容 -->
            <div class="box_content">
                <ul>
                    <li class="block" v-for="(item,index) in contentarray">

                        <div class="lititle">
                            <input type="checkbox" class="checkbox" :id="['check'+index]">
                            <input type="text" class="contenttitle" onblur="notetitle(this)" maxlength="20"
                                :value="item.notetitle">
                            <span style="display: none;">{{item.noteid}}</span>
                            <span class="contentdate">{{item.notedate}}</span>
                        </div>
                        <textarea class="content" onblur="notecontent(this)">{{item.notecontent}}</textarea>

                    </li>
                </ul>
            </div>
        </div>

    </div>
    <!-- 引入vue文件 -->
    <script type="text/javascript" src="vue/vue.js"></script>
    <!-- 引入本页面的js文件 -->
    <script src="vue/note.js"></script>

</body>

</html>